.tweet-card {
  background-color: #fff;
  padding: 10px;
  width: 100%;
  box-shadow: 0px 3px 62px -52px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  margin-bottom: 20px;
}

.tweet-card-header {
  display: flex;
  align-items: center;
}

.tweet-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.tweet-username {
  color: #14171a;
  margin-left: 15px;
  font-size: 18px;
}

.tweet-card-content-container {
  width: 100%;
}

.tweet-card-content {
  padding: 10px;
  color: #657786;
}
